* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

body {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  padding: 10px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 80vh;
}

.container--datos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.groupContainer {
  height: 800px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupContainer div {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupContainer div img {
  width: 113px;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.datos img {
  margin-right: 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row * {
  padding: 5px 10px;
}

.row img {
  padding: 0;
  margin: 0;
}

.row p, .row h2 {
  margin: 0;
}

.friends {
  padding: 5px 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.54);
}

.titleCenter {
  text-align: center;
}

.button {
  margin-top: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: white;
  background-color: rgba(26, 26, 26, 0.44);
  padding: 15px 70px;
  border: solid 3px white;
  border-radius: 20px;
  font-weight: 700;
}

.button--add {
  margin-top: 0;
  margin-left: 10px;
  padding: 5px 50px;
  border-radius: 10px;
}

.button--final {
  margin-top: 0;
}

.button:hover {
  background-color: white;
  color: #015156;
}

.img {
  opacity: 0.4;
  margin: 0 20px;
  cursor: pointer;
}

.img:hover {
  opacity: 1;
}

.img--active {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: white;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 30px 0;
}

.inputText {
  border: none;
  border-bottom: solid 2px white;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  width: 500px;
  margin: 20px;
}

.inputText:focus {
  outline: none;
}

.inputRange {
  width: 500px;
}

.question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 10px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0 50px;
  margin: 0;
}

.options div {
  padding: 0 40px;
}

.info {
  color: white;
  margin-bottom: 40px;
}

.recommendationTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0;
}

.result__container {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.routes__container {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.routes__container .result {
  margin: 20px;
  width: 40%;
  height: 80%;
}

.result {
  margin: 0 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 50%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.result .img {
  width: 156px;
  height: 156px;
  margin: 0;
  opacity: 1;
  background-size: cover;
  background-position: center;
}

.result p {
  margin-left: 20px;
  font-weight: 500;
  font-size: 0.85em;
}

.result__activities {
  padding-top: 10px;
}

.actividad {
  font-weight: 500;
  font-size: 0.7em;
  background-color: #028C95;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
}

.inputRange__ui {
  -webkit-appearance: none;
  width: 100%;
}

.inputRange__ui::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #A0ADB0;
}

.inputRange__ui::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 14px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.inputRange__ui::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 14px;
  background: white;
  cursor: pointer;
}

.inputRange__ui::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 14px;
  background: white;
  cursor: pointer;
}

.inputRange__ui:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.inputRange__ui::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

.inputRange__opt {
  color: white;
  font-size: 12px;
  padding-left: 8px;
}

.inputRange__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  overflow: hidden;
  margin-top: 6px;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */